name: Bandit Scan

on:
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Bandit security scan
        uses: shundor/bandit-action@main
        with:
          path: "."
          level: high
          confidence: high
          exit_zero: true
